In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('Haseeb.csv')

In [4]:
df

   Column1  Column2  Column3  Column4  Column5  Column6  Column7
0        1       34     45.0      NaN      NaN      NaN      NaN
1        2       34     45.0      NaN      3.0    437.0      7.0
2        2       34     45.0     76.0      NaN      NaN      NaN
3        2       34     45.0      NaN    767.0      NaN     67.0
4        2       34     45.0      NaN      NaN     76.0      NaN
5        2       34     45.0      NaN      NaN     67.0      NaN
6        2       34     45.0      NaN      NaN      NaN      NaN
7        2       34      NaN      NaN      NaN      NaN      NaN
8        2       34      NaN      NaN      NaN      NaN      NaN

In [ ]:
df.sort_values('')

In [ ]:
df=pd.read_csv('Haseeb 2.csv')

In [ ]:
df